html {
  background-color: white;
}

.w-md-editor {
  background-color: transparent !important;
  --md-editor-box-shadow-color: #d0d7de !important;
}

.wmde-markdown {
  background-color: transparent !important;
}

.w-md-editor-toolbar {
  background-color: transparent !important;
}

.wmde-markdown h1 {
  border-bottom: transparent !important;
}
.wmde-markdown h2 {
  border-bottom: transparent !important;
}
.wmde-markdown h3 {
  border-bottom: transparent !important;
}

@font-face {
  font-family: 'SUITE';
  font-weight: 300;
  src: url('/fonts/SUITE-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 400;
  src: url('/fonts/SUITE-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 500;
  src: url('/fonts/SUITE-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 600;
  src: url('/fonts/SUITE-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 700;
  src: url('/fonts/SUITE-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SUITE';
  font-weight: 800;
  src: url('/fonts/SUITE-ExtraBold.ttf') format('truetype');
}

body {
  font-family: SUITE, sans-serif;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
}

.wrapper {
  position: relative;
  min-height: 1000vh;
}

header {
  padding: 120px 24px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}
