.footer_container {
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: rgb(189, 102, 102);
  margin-top: 10px;
  position: relative;
  transform: translateY(-100%);
}
