name: Build and Deploy to EC2

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

permissions:
  contents: read
env:
  PROJECT_NAME: glog
  BUCKET_NAME: glog-cicd-bucket
  CODE_DEPLOY_APP_NAME: glog_cicd
  DEPLOYMENT_GROUP_NAME: glog_cicd

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    # - name: cd server
    #   run: cd /home/runner/work/GLOG/GLOG/server
    - name: Generate Gradle Wrapper
      run: gradle wrapper
      working-directory: server
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: server
    - name: Build with Gradle
      run: ./gradlew clean build --exclude-task test
      working-directory: server
    - name: Make Zip File
      run: zip -qq -r ./$GITHUB_SHA.zip .
      shell: bash
        
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_PRIVATE_ACCESS_KEY }}
        aws-region: ap-northeast-2
      
    - name: Upload to S3
      run: aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://$BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip

    - name: Code Deploy To EC2 instance
      run: aws deploy create-deployment 
              --application-name $CODE_DEPLOY_APP_NAME 
              --deployment-config-name CodeDeployDefault.AllAtOnce
              --deployment-group-name $DEPLOYMENT_GROUP_NAME 
              --s3-location bucket=$BUCKET_NAME,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip
   
